.product {
    display: inline-block;
    overflow: hidden;
    white-space: normal;
    padding: 25px;
    width: 310px;
    border-left: 1px solid #edeaea;
    box-sizing: border-box;
    text-align: center;
    vertical-align: top;
    cursor: pointer;
    transition: .3s;

    &--bl-0 {
        border-left: 1px solid #fff;
    }

    &:hover {
        background: #f4f4f4;
        background: linear-gradient(90deg, rgba(244,244,244,1) 0%, rgba(248,248,248,1) 29%, rgba(255,255,255,1) 100%);

        .product__image {
            margin-top: -10px;
            margin-bottom: 10px;
        }

        .product__btn-add-to-cart {
            opacity: 1;
        }
    }

    &:focus {
        outline: 5px auto #ccc;
    }

    &__image {
        display: inline-block;
        width: 165px;
        height: 165px;
        transition: .5s;
    }

    &__name {
        height: 55px;
        @include tipografia(12pt, left,#303132);
        @include normalize-span();
    }

    &__oldPrice {
        @include tipografia(12pt, left,#5e6774);

        span {
            @include tipografia-span(15pt, true);
        }
        @include normalize-span();
    }

    &__price {
        @include tipografia(12pt, left,#5e6774);

        span {
            @include tipografia-span(18pt, false);
        }
        @include normalize-span();
    }

    &__productInfo {
        @include tipografia(12pt, left,#5e6774);

        span {
            @include tipografia-span(14pt, false);
        }
        @include normalize-span();
    }

    &__btn-add-to-cart {
        margin: 30px 0;
        @include btn-add-to-cart();
        opacity: 0;
        transition: .5s;
    }
}