.shelf {
    padding: 20px;
    background: #fff;

    &__title {
      font: {
        family: 'Roboto Condensed', sans-serif;
        weight: bold;
        size: 21pt;
      }
      // text-indent: 20px;
      color: #5e6774;

      .product-visited {
        color: #f60;
      }
    }

    &__carousel {
      margin: 20px 0;
      border: 1px solid #edeaea;

      @import "components/product";
    }
  }