.slick {

    &-dots {
        padding: 0;
        position: absolute;
        bottom: 12px;
        width: 100%;
        text-align: center;

        li {
            display: inline-block;
            vertical-align: top;

            button {
                border: 0;
                outline: 0;
                cursor: pointer;
                margin: 3px;
                width: 12px;
                height: 12px;
                background: #adadad;
                border-radius: 50%;
                font-size: 0;
            }
        }

        .slick-active {

            button {
                background: #353f4f;
            }
        }
    }
}