@mixin normalize-span() {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

@mixin tipografia($size, $align, $color) {
    font: {
        family: 'Roboto', sans-serif;
        size: $size;
    }
    text-align: $align;
    color: $color;
}

@mixin tipografia-span($size, $decoration) {
    font: {
        // size: 15pt;
        size: $size;
        weight: bold;
    };
    @if $decoration == true {
        text-decoration: {
            line: line-through;
            color: #353f4f;
        }
    }
    color: #353f4f;
}

@mixin btn-add-to-cart {
    display: block;
    position: relative;
    width: 260px;
    background: #fff;
    border: 1px solid #d3d1d1;
    line-height: 60px;
    font: {
        family: 'Roboto Condensed', sans-serif;
        weight: bold;
        size: 18px;
    };
    text-decoration: none;
    color: #353f4f;
    outline: 0;
    cursor: pointer;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 10px;
        height: 100%;
        background: #f60;
        opacity: 0;
        transition: .3s;
    }

    &::after {
        content: '';
        position: absolute;
        top: 18px;
        right: 10px;
        width: 25px;
        height: 26px;
        background-image: url(../images/sprite.png);
        background-position-x: -24px;
        background-position-y: initial;
        background-size: initial;
        background-repeat-x: initial;
        background-repeat-y: initial;
        background-attachment: initial;
        background-origin: initial;
        background-clip: initial;
        background-color: initial;
    }

    &:hover {
        
        &::before {
            opacity: 1;
        }

        &::after {
            background-position-x: 0;
        }
    }
}