<!DOCTYPE html>
html(lang="pt-br")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Itelios

        //- <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.css"/>
        link(rel="stylesheet", href="assets/vendor/slick.css")
        link(rel="stylesheet", href="assets/styles/main.css")
    body
        
        include components/shelf.pug

        script(src='assets/vendor/jquery.min.js')
        script(src="/assets/vendor/slick.min.js")

        //- script(src="/assets/scripts/slick.js")

        //- script(src="/assets/scripts/main.js")
        
        //- script(src="/assets/scripts/app/Slick.js")
        //- script(src="/assets/scripts/app/model/Shelf.js")
        //- script(src="/assets/scripts/app/model/Product.js")
        //- script(src="/assets/scripts/app/view/ShelfView.js")
        //- script(src="/assets/scripts/app/view/ProductView.js")
        //- script(src="/assets/scripts/app/controller/ProductController.js")
        script(src="/assets/scripts/app/index.js", type='module')