/*
 * Dependencies and Core
 */
@import "core/fonts";
@import "variables/mixins";


/*
 * Style Geral
 */
body {
    margin: 0;
    border: 0;
    background: #e0dcdc;
}

@import "components/slick";

@import "components/shelf";